body,html{
    margin: 0px;
    padding: 0px;
}

.site-content{  
    width: 1440px;
    margin: auto;

    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Header styling */

.header {
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    position: fixed;
    top: 82px;
    height: 35px;
    display:flex;

    background: linear-gradient(to bottom, #808080 0, #707070 50%
    , #5e5e5e 51%, #808080 100%);
}

.apple-header-button-container{
    width:103px;

    border-right: 1px solid #5e5e5e;
}

.text-header-button-container{
    width:103px;
    border-left: 1px solid #808080;
    border-right: 1px solid #5e5e5e;
}

.header-search-bar-container{
    border-left: 1px solid #808080;
    width:135px;

    position:relative;
}

.apple-header-button{
    margin-left: 42px;
    margin-top: 8px;

    filter: invert(90%);
}

.text-header-button{
    margin: auto;
    margin-top: 8px;
    text-align: center;
    font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #ededed;
    text-shadow: 0px -1px #363636;
}

.header-search-bar{
    width: 106px;
    height: 18px;

    border: 0.5px solid #363636;
    border-radius: 12px;

    background: linear-gradient(to bottom, #707070 0, #808080 50%
    , #707070 51%, #808080 100%);

    margin-top: 7px;
    margin-left: 13px;
}

.search-icon{
    vertical-align: middle;
    width: 13px;
    filter: invert(0);

    position: absolute;

    top: 10.9px;
    left: 19px;
}

/* Billboard styling */

.billboard {
    width: 1440px;
    height: 538px;

    background-image: url("assets/your_verse_hero.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}

.billboard-text-container {
    margin: auto;
    padding-top: 150px;
    text-align: center;
}

.billboard-heading-1{
    height: 98px;
    width: auto;
}

.billboard-heading-2{
    height: 82px;
    width: auto;
}

.billboard-heading-3{
    height: 30px;
    padding-top: 32px;
    width: auto;
}

/* Promos styling */

.promos {
    width: 1440px;
    height: 200px;

    display:flex;
}

.promos-image {
   height: 197.8px;
}

/* footer styling */

.footer{
    width: 980px;
}

.footer-text {
    padding-top: 1.5em;
    line-height: 1.2;
    color: #6e6e6e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#footer-text-1 {
    float: left;
}

#footer-text-2 {
    float: right;
}

#footer-text-3 {
    clear: left;
}